:root {
    --primary-color: rgb(230, 123, 27);
    --secondary-color: #ffffff;
    --background-color: #f8f9fa;
  }

  body {
    background-color: var(--background-color);
  }

  .nav-link-custom {
    color: rgb(230,123,27,255);
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    margin: 10px;
  }
  .navbar {
    border-color: orange;
    border: 2px solid orange; 
    margin: 10px; 
    padding: 10px; 
    margin-right: 10px;
    border-radius: 30px; 
    background-color: var(--secondary-color);
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

  .sticky + .content {
    padding-top: 60px;
  }
  .nav-link-custom.active,
  .nav-link-custom:hover,
  .dropdown-item.active,
  .dropdown-item:hover {
    background-color: rgb(230,123,27,255);
    color: white !important;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
  }

  .navbar-nav {
    margin-left: auto;
  }
  
  img {
    height: 50px;
    width: 219px;
  }
  #myCarousel{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .carousel-item {
    height: 80vh;
  }
  .row {
  display: flex;
  justify-content: center;
  text-align: center;
}
  .carousel-item svg {
    width: 100%;
    height: 100%;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
  }

  .featurette-image {
    width: 100%;
    height: auto;
  }

  .rounded-circle {
    width: 200px;
    height: 200px;
  }

  footer {
    padding: 2rem 0;
    background-color: var(--background-color);
    border-top: 1px solid #e5e5e5;
  }
  .img-container {
  position: relative;
  display: inline-block;
}

.hover-img {
  display: block;
  
  transition: opacity 0.3s ease;
  width: 500px;
  height: 500px;
}

.read-more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.img-container:hover .hover-img {
  opacity: 0.5;
  width: 500px;
  height: 500px;
}

.img-container:hover .read-more-btn {
  opacity: 1;
}
.featurette-heading {
      margin-top: 7rem;
  }
.dropdown-menu{
  padding: 20px;
}